@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;900&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
 
 body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background: #C0D0E9;
   
 }
.container{
  
  width: 90vw;
  height: 130px;
  position: absolute;
  top:6rem;
  bottom: auto;
  display: flex;
  
  justify-content: space-between;
  background: linear-gradient(90deg, hsla(33, 100%, 98%, 1) 29%, hsla(33, 100%, 93%, 1) 100%);
  border-radius: 10px;

}

.temp_field .temp p{
  
  font-family: 'Nunito';
 
}
#temp_f{
  font-size: 2.5rem;
  position: relative;
  left: 20px;
  top:20px;
}
.place{
  font-weight: 500;
  position: relative;
  top:15px;
  left:20px;
}
img{
  margin-top: 20px;
  margin-right:20px;
  width: 70px;
}

.forcast{
  position: relative;
  top:13rem;
  width:90vw;
  border-radius: 10px;
  background-color:#fff ;
 display: flex;
 flex-direction: column;
 align-items: center;
background: linear-gradient(180deg, hsla(33, 100%, 98%, 1) 29%, hsla(33, 100%, 93%, 1) 100%);
 border-radius: 10px;
 
}

.forcast .p{
  margin-top: 20px;
  text-align: center;
  margin: 10px;
}
.p img{
  width: 40px;
  position: relative;
  left:8px;
}
.p .pm,
.visibility,
.humidity,
.wind{
  position: relative;
  top:19px;
  font-family:'Nunito';
  font-weight:700;
}
.p .text{
  font-family: 'Nunito';
  font-weight: 800;
  position: relative;
  bottom: 10px;
}

nav{
  
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
input{
  outline: none;
  width: 50vw;
  height: 35px;
  border: none;
  border-radius: 12px;
  padding: 20px 15px;
  background: #FFFBF6;
  font-family: 'Nunito';
  font-weight: 700;
}
button{
  outline: none;
  border: none;
  height: 38px;
  width: 20vw;
  border-radius: 10px;
  font-family: 'Nunito';
  font-size: .8rem;
  font-weight: 300;
  background: #FFEED9;
}
button:hover{
  background:#FCD7B0;
}
