@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
 
 body{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background: #C0D0E9;
   
 }
.container{
  
  width: 90vw;
  height: 130px;
  position: absolute;
  top:10rem;
  bottom: auto;
  display: flex;
  
  justify-content: space-between;
  background: linear-gradient(90deg, hsla(33, 100%, 98%, 1) 29%, hsla(33, 100%, 93%, 1) 100%);
  border-radius: 10px;

}

.temp_field .temp p{
  
  font-family: 'Nunito';
 
}
.temp_f{
  font-size: 2.5rem;
  position: relative;
  left: 20px;
  top:20px;
}
.place{
  font-weight: 500;
  position: relative;
  top:15px;
  left:20px;
}
img{
  margin-top: 20px;
  margin-right:20px;
  width: 70px;
}

.forcast{
  position: relative;
  top:19rem;
  width:90vw;
  border-radius: 10px;
  background-color:#fff ;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.forcast  p {
  font-family:'Nunito' ;
  margin-top: .5rem;
}

.p .u{
  margin-left:13px ;
  padding-bottom: 10px;
}